<p class="form_title"><b>Forgot your password?</b></p>
<%= form_for @user, :as => :user, :url => ('/forgot_password'), :method => :put do |f| %>
  <table class="form_styling">
<tr>
 <td> <%= f.label 'email:' %></td>
  <td><%= f.text_field :email %></td>
  </tr>
    <br>
    <tr>
      <br>
   <td><%= f.submit 'Send Password Reset Instructions' %></td>
    </tr>
<% end %>
</table>
