---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: amount=999&interval=month&name=Publication%20One%20Basic%20Plan&currency=usd&id=Publication_One_basic
    headers:
      Authorization:
      - Bearer <STRIPE_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Publication One Basic Plan",
          "created": 1403209474,
          "amount": 999,
          "currency": "usd",
          "id": "Publication_One_basic",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Thu, 19 Jun 2014 20:24:34 GMT
recorded_with: VCR 2.9.2
