---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_104FhU4Uy2MsMriF88Ph4F05&email=non_admin%40email.com
    headers:
      Authorization:
      - Bearer <STRIPE_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Fri, 20 Jun 2014 20:24:35 GMT
recorded_with: VCR 2.9.2
