---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_104FhU4Uy2MsMriFEUX77Qhy&email=non_admin%40email.com
    headers:
      Authorization:
      - Bearer <STRIPE_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1403209483,
          "id": "cus_4FhUDHN5qe03Yb",
          "livemode": false,
          "description": null,
          "email": "non_admin@email.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4FhUDHN5qe03Yb/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4FhUDHN5qe03Yb/cards",
            "data": [
              {
                "id": "card_104FhU4Uy2MsMriFwAoOjSU5",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2015,
                "fingerprint": "RfUUrjCJwXFUYsWn",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4FhUDHN5qe03Yb"
              }
            ]
          },
          "default_card": "card_104FhU4Uy2MsMriFwAoOjSU5"
        }
  recorded_at: Fri, 20 Jun 2014 20:24:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4FhUDHN5qe03Yb/subscriptions
    body:
      encoding: US-ASCII
      string: plan=A_Test_Publication_basic
    headers:
      Authorization:
      - Bearer <STRIPE_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4FhUpBpILXMlyF",
          "plan": {
            "interval": "month",
            "name": "A Test Publication Basic Plan",
            "created": 1403208307,
            "amount": 999,
            "currency": "usd",
            "id": "A_Test_Publication_basic",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1403209483,
          "status": "active",
          "customer": "cus_4FhUDHN5qe03Yb",
          "cancel_at_period_end": false,
          "current_period_start": 1403209483,
          "current_period_end": 1405801483,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "metadata": {}
        }
  recorded_at: Fri, 20 Jun 2014 20:24:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4FhUDHN5qe03Yb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
[...]
[...]
