---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=email%40email.com
    headers:
      Authorization:
      - Bearer <STRIPE_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1403642076,
          "id": "cus_4HZm992zSXkS4r",
          "livemode": false,
          "description": null,
          "email": "email@email.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4HZm992zSXkS4r/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4HZm992zSXkS4r/cards",
            "data": []
          },
          "default_card": null
        }
  recorded_at: Tue, 24 Jun 2014 20:34:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4HZm992zSXkS4r/subscriptions
    body:
      encoding: US-ASCII
      string: plan=Name0_basic
    headers:
      Authorization:
      - Bearer <STRIPE_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such plan: Name0_basic",
            "param": "plan"
          }
        }
  recorded_at: Tue, 24 Jun 2014 20:34:36 GMT
recorded_with: VCR 2.9.2
