<% if current_user.admin? %>
  <h1>Manage Publications:</h1>
<% else %>
<h1>Publications:</h1>
<% end %>

<div class="publications_show">

    <table class="publication_list">
      <% @publications.each do |publication| %>
        <tr>
          <td> <%= link_to publication.name, publication %></td>
        </tr>
      <% end %>
    </table>

</div>
