<div class="publication_show">
  <% if logged_in? && current_user.admin %>
    <%= link_to 'Add article', new_publication_article_path(@publication.id) %>
  <% end %>
  <table>
    <tr>
      <th>Publication name:</th>
      <th>Description:</th>
      <th>Articles</th>
    </tr>
    <tr>
      <td><%= simple_format(@publication.name) %></td>
      <td><%= simple_format(@publication.description) %></td>
      <td>
        <% @articles.each do |article| %>
          <%= link_to article.title, publication_article_path(@publication.id, article.id) %>
          <br/>
        <% end %>
      </td>
    </tr>
    <tr>
    </tr>
  </table>
</div>
