<div class="publication_show">
  <table>
    <tr>
      <th>Publication name:</th>
      <td><%= simple_format(@publication.name) %></td>
    </tr>
    <tr>
      <th>Description:</th>
      <td><%= simple_format(@publication.description) %></td>
    </tr>
    <tr>
      <th>Articles:</th>
      <td></td>
    </tr>
  </table>
</div>