<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  <%= @user.email %> has requested a password reset.
</p>
<p>
  To reset your password, click the URL below.
</p>
<p>
<p><%= link_to "Password Reset", root_url + password_reset_path({token: @password_reset_token })%></p>
<p>
  If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.
</p>
</body>
</html>