<% if @current_user %>
  <h1>My Subscriptions</h1>
<% end %>


<h2>Truffaut American Apparel</h2>
<p>iPhone, Pinterest mustache cardigan dreamcatcher polaroid viral chillwave direct trade
  skateboard street art fashion axe. Shoreditch shabby chic mixtape forage master cleanse. PBR swag paleo, raw denim
  wolf fingerstache freegan whatever bespoke drinking vinegar. Stumptown beard iPhone hella master cleanse bespoke
  ennui, cliche Godard ethical disrupt. Gentrify whatever tote bag, hashtag Helvetica American Apparel paleo retro
  normcore slow-carb. McSweeney's gastropub squid street art, dreamcatcher next level pork belly Truffaut American
  Apparel four loko retro butcher tote bag semiotics. Skateboard squid literally you probably haven't heard of them
  twee.</p>

<h2>Sriracha Synth </h2>
<p>Mustache brunch Pitchfork, leggings XOXO stumptown disrupt street art before they sold out.
  Leggings YOLO Tonx sartorial Pinterest disrupt, PBR tofu meggings fixie cred small batch trust fund. Brooklyn synth
  Banksy, retro put a bird on it 8-bit chia raw denim lomo ethical deep v gastropub seitan swag viral. Kale chips
  leggings hoodie typewriter McSweeney's, literally jean shorts crucifix food truck +1. Brunch YOLO Godard mlkshk,
  Neutra Marfa keytar mixtape Wes Anderson blog Etsy kogi. PBR hoodie kogi jean shorts seitan. Single-origin coffee
  leggings authentic, Marfa cred tofu occupy mumblecore post-ironic.</p>

<h2>Vice</h2>
<p>Bushwick seitan single-origin coffee kale chips. Put a bird on it occupy Schlitz gluten-free dreamcatcher
  kitsch, Pinterest gentrify Odd Future farm-to-table sartorial ennui lo-fi. Slow-carb cornhole try-hard readymade +1
  banjo. Carles wolf leggings pop-up fingerstache. Wolf four loko PBR&B street art Marfa organic. Marfa sartorial meh
  cliche tote bag, Tumblr stumptown whatever chia Intelligentsia Cosby sweater mixtape mumblecore Shoreditch vegan.
  Bespoke farm-to-table Carles ennui American Apparel, stumptown tousled Echo Park sustainable Marfa High Life
  single-origin coffee beard.</p>

<h2>Bitters</h2>
<p>90's polaroid, normcore pop-up fixie narwhal mixtape Cosby sweater McSweeney's VHS. YOLO leggings gentrify,
  photo booth meh four loko Odd Future 8-bit direct trade. Distillery disrupt retro, keytar 8-bit fanny pack PBR fixie.
  Salvia keffiyeh ethical paleo mustache. Williamsburg Austin paleo hashtag lo-fi. Stumptown chia keytar, Brooklyn
  twee High Life art party PBR&B messenger bag master cleanse. McSweeney's ethnic ennui farm-to-table dreamcatcher.</p>