<h1>My Subscriptions</h1>

<% if !@subscriptions.nil? %>
  <table id="subscriptions">
    <tr>
      <th>Publication</th>
    </tr>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td>
          <%= subscription.publication.name %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>