body {
  background-color: #E9E9E9;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 1%;
  text-align: center;
}

h2 {
  padding: 1%;
  padding-left: 3%;
}

p {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

header {
  background-color: #424242;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 0;
}

header h1 {
  display: inline-block;
  color: #FF9900;
}

