/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.root_links {
  text-align: center;
  margin-top: 15%;
}
.publication_show {
  margin: auto;
  text-align: left;
  table {
    margin: auto;
    padding-top: 50px;
  }
  td {
    padding-left: 30px;
  }
}

.form_styling {
  position: absolute;
  top: 247px;
  margin-left: 37%;
  font-size: 1.3em;

  input {
    height: 22px;
    font-size: .75em;
  }
}

.td {
  width: 1em;
}

body {
  background-color: #E9E9E9;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #424242;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 0;
}

header h1 {
  display: inline-block;
  color: #FF9900;
}

ul.secondary-nav {
  float: right;
  padding-top: 1%;

  li {
    display: inline-block;
    color: #FF9900;
    padding-top: 0%;

  }
  a {
    color: white;
    text-decoration: none;
    padding-left: 0%;
  }
  a:hover {
    color: #a2a2a2;
    text-decoration: underline;
  }

}

.user_name {
  float: right;
  color: #FF9900;
  padding-right: 7px;

}

.welcome_flash, .errors ul {
  font-family: 'Roboto', sans-serif;
  background-color: #FF9900;
  font-size: 150%;
  min-width: 100%;
  color: white;
  text-align: center;
  list-style-type: none;
  margin-top: 0;
  padding-bottom: .6%;
}

h1 {
  padding: 1%;
  text-align: center;
}

h2 {
  padding: 1%;
  padding-left: 3%;
}

p {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
}






.publication_list {
  margin: auto;
  font-size: 25px;
  a {
    color: #424242;
    text-decoration: none;
  }
  a:hover {
    color: #FF9900;
    text-decoration: underline;
  }
  tr:nth-child(odd){
    background-color: whitesmoke;

  }
  tr:nth-child(even){
    background-color: white;
  }
  .publication_button {
    padding-left: 10px;
    padding-right: 20px;
    font-size: 15px;
  }
  .publication_item {
    padding-left: 10px;
    padding-right: 50px;
  }
}
.publication_title {
    text-align: center;

}

