/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'layout';
@import 'tables';

.root_links {
  text-align: center;
  margin-top: 15%;
}

.form_title {
  text-align: center;
  font-size: 30px;
}

.reset_password_title {
  text-align: center;
}

.form_styling {
//  position: absolute;
//  top: 275px;
//  margin-left: 37%;
  margin:3em auto;
  font-size: 1.3em;
  input {
    height: 22px;
    font-size: .75em;
  }
}

.td {
  width: 1em;
}

ul.secondary-nav {
  float: right;
  padding-top: 1%;

  li {
    display: inline-block;
    color: #FF9900;
    padding-top: 0%;
  }
  a {
    color: white;
    text-decoration: none;
    padding-left: 0%;
  }
  a:hover {
    color: #a2a2a2;
    text-decoration: underline;
  }
}

.user_name {
  float: right;
  color: #FF9900;
  padding-right: 7px;
}
.welcome_flash{
  clear:both;
}
.welcome_flash, .errors ul {
  font-family: 'Roboto', sans-serif;
  background-color: #FF9900;
  font-size: 150%;
  min-width: 100%;
  color: white;
  text-align: center;
  list-style-type: none;
  margin-top: 0;
  padding-bottom: .6%;
}

.publication_title {
  text-align: center;
}

.terms_of_service .field_with_errors {
  display: inline;
}

#stripe_information{
  max-width:400px;

  margin:0 auto;
  p {
    text-align: center;
  }
  form{
    width:70%;
    margin:0 auto;
    .card_info{
      margin:0 auto;
    }
  }
  .card-info{
    margin-top:1em;
    overflow:hidden;
  }
  input[type='text']{
    font-size: 1em !important;
    padding:.4em;
    width:100%;
    &#cvv{

      width:80%;
    }
  }
  input[type='submit']{
    clear:both;
    font-size: 1em !important;
    padding: .2em .3em;
    background-color: #ff9900;
    color: #ffffff;
    border-radius: 3px;
    border-top: 1px solid #FFAA27;
    border-bottom: 1px solid #9F5300;
    border-left: 1px solid #FFAA27;
    border-right: 1px solid #9F5300;
    &:hover {
      background-color: #ffb50a;
    }
    display:block;
    margin:1em auto;
  }
  select{
    border: 1px solid slategray;
    font-size:1em;
    padding:1em;
    line-height: 1.5em;
    text-indent: 0.01px;
    text-overflow: '';
  }
  .cvv-exp{
    overflow:hidden;
  }
  .cvv{
    float:left;
    width:45%;
    input{
      margin-top:.5em;
    }
  }
  .exp{
    float:right;

    select{
      margin-top:.8em;
    }
  }


}
